.mat-toolbar {
    background-color: var(--control-color);
    height: 48px;
    margin: 2px;
}

.mat-button, 
.mat-flat-button, 
.mat-icon-button, 
.mat-stroked-button {
    background-color: var(--action-color);
    border: 1px var(--text-color) solid;
    color: var(--text-color);
    font: italic 20px var(--font-family);
    font-weight: 500;
    height: 40px;
    border-radius: 15px; 
}

.mat-stroked-button.import{
    min-width: 130px;
}

.mat-toolbar .message {
    margin-left: auto;
}

.mat-table {
    background-color: var(--field-color);
    width: 100%;
    padding-right: 24px;
    box-sizing: border-box;
}

.mat-header-cell, .mat-row .mat-cell {
    color: var(--text-color);
    font-family: var(--font-family);
    padding-left: 4px;
}

.mat-header-cell {
    font-size: 24px;
    font-weight: 500;
    border-bottom: 2px var(--text-color) solid;
}

.mat-header-row:first-of-type {
    border: none;   
}

.mat-row .mat-cell {
    font-size: 20px;
    font-weight: 400;    
}

.mat-row {
    border-bottom-width: 0px;
}

.mat-cell {
    border-bottom: 1px var(--text-color) solid;
}

.mat-column-errors {
    border: none;    
    padding-right: 4px;
    width: 24px;
    flex: 0 0 auto;
}

.error-sign {
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: var(--error-color);
    border: 2px solid;
    text-align: center;
    border-radius: 50%;
}