<mat-toolbar>
    <span class="example-spacer"></span>
    <mat-icon class="material-icons-outlined">account_circle</mat-icon>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side">
        <mat-list>
            <mat-list-item>
                <mat-icon>folder_open</mat-icon>
                <a routerLink="/files" routerLinkActive="active-link">Files</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon class="material-icons-outlined">payments</mat-icon>
                <a routerLink="/transactions" routerLinkActive="active-link">Transactions</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon class="material-icons-outlined">cases</mat-icon>
                <a routerLink="/details" routerLinkActive="active-link">Details</a>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>