/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

:root {
    --text-color: #084B83;
    --action-color: #42BFDD;
    --field-color: #F0F6F6;  
    --control-color: #BBE6E4;
    --error-color: #FF66B3;
    --font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: var(--font-family); }
